*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {list-style: none;}
a,
img,
span,
button,
input,
ion-icon{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}
input,
button {
    background: none;
    border: none;
    font: inherit;
}
input{
    width: 100%;
    outline: none;
}
button{ cursor: pointer;}

ion-icon { pointer-events: none;}

address{ font-style: italic;}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    line-height: 1.8;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    place-content: center;
    z-index: 6;
    transition: 1;
}
.preloader .remove{
    visibility: hidden;
    opacity: 0;
}
.preloader .img{
    animation: bounce 800ms ease-in-out infinite alternate;
}
@keyframes bounce {
 0%{ transform: translateY(-10px);}   
 100%{ transform: translateY(0);}   
}
.preloader-inner{ position: relative; }

.preloader-inner::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    background-color:darkgray ;
    filter: blur(4px);
    z-index: -1;
    animation: dropShadow 800ms ease-in-out infinite alternate;
}
@keyframes dropShadow {
    0%{ width: 40%;}
    100%{ width: 80%;}
    
}