*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {list-style: none;}
a,
img,
span,
button,
input,
ion-icon{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}
input,
button {
    background: none;
    border: none;
    font: inherit;
}
input{
    width: 100%;
    outline: none;
}
button{ cursor: pointer;}

ion-icon { pointer-events: none;}

address{ font-style: italic;}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    line-height: 1.8;
}